@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #080b17;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.metronome {
  border: 1px solid #acadbc;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 417px;
  justify-content: space-between;
  padding: 1rem;
}

.bpm-display {
  width: 100%;
  text-align: center;
  color: #38479f;
  font-weight: bold;
}

.bpm-display .tempo {
  font-size: 4em;
  font-weight: bold;
}

.bpm-display .bpm {
  font-size: 1.3em;
}

.bpm-display .tempo-text {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.signal-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #38479f;
  margin: 0 10px;
}

.slider {
  -webkit-appearance: none;
  margin-top: 25px;
  width: 75%;
  height: 0.5px;
  border: 0 none;
  background-color: black;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #38479f;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(56, 71, 159, 0.6);
}

.slider:hover::-webkit-slider-thumb {
  background: #90d6da;
}

.tempo-settings {
  display: flex;
  justify-content: space-between;
}

.tempo-settings button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #acadbc;
  font-size: 40px;
}

.tempo-settings button:hover {
  background-color: #38479f;
  color: white;
}

.decrease-tempo-content {
  margin-top: -7px;
}

/* Start/stop button handling */

.start-stop-container {
  display: flex;
  justify-content: center;
}

.start-stop {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: relative;
}

.start,
.stop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.start-stop.active .start {
  display: none;
}

.start-stop.active .stop {
  display: block;
}

.start-stop .start {
  display: block;
}

.start-stop .stop {
  display: none;
}

.measures {
  display: flex;
  justify-content: center;
}

.measures button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #acadbc;
  text-align: center;
  margin: 0 20px;
  font-size: 24px;
}

.measures button:hover {
  background-color: #38479f;
  color: white;
}

.subtract-beats-content {
  margin-top: -4px;
}

.add-beats-content {
  margin-top: -1px;
}

.measure-count {
  margin-top: 3px;
}
