@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #080b17;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.metronome {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 417px;
  justify-content: space-between;
  padding: 1rem;
}

.bpm-display {
  width: 100%;
  text-align: center;
  color: #38479f;
  font-weight: bold;
}

.bpm-display .tempo {
  font-size: 4em;
  font-weight: bold;
}

.bpm-display .bpm {
  font-size: 1.3em;
}

.bpm-display .tempo-text {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
}

.tempo-settings {
  display: flex;
  justify-content: space-between;
}

.tempo-settings button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #acadbc;
  font-size: 30px;
}

.tempo-settings button:hover {
  background-color: #38479f;
  color: white;
}

.triangle {
  display: flex;
  justify-content: center;
}

.start-stop {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 60px solid #38479f;
}

/*.start-stop:hover {*/
/*  background-color: #90d6da;*/
/*}*/

.measures {
  display: flex;
  justify-content: center;
}

.measures button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #acadbc;
  text-align: center;
}
